.home-container {
	position: absolute;
	width:100%;
	min-height:100%;
	background-image: url('../../assets/green-background.svg');
	background-position: fixed;
}
	
#initialLogo{
	text-align: center;
}

#profilePhoto{
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size:90% auto;
	background-position: center center;
	width: 80%;
	max-width:600px;
	min-height:300px;
}

#media-text {
	max-width: 100%;
}

@media (max-width: 400px) {
	#media-text h1 {
		font-size: 30px;
	}
}