<div class='home-container'>
	<!--Navbar Starts Here, Only Logo is Displayed on this page 
        because we don't want people to be able to access the rest of the app without logging in.
        Can Probably replace bootstrap drop down with the angular one(?) -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><img src="assets/White.svg" width="80px"></a>
	</nav>
	<!--End Navbar-->

	<!--Bootstrap Container-->
	<div class="container" id="newUserContainer" style="margin-top:2em;">
		<!--Row that has the logo (black vector file)-->
		<div class="container" style="margin-top: 2em;">
				<div class="row">
				  <div class="col-md-10 offset-md-1">
					<div class="media">
					  <img src="../../assets/Facebook Profile Picture.png" width=240px; id="profile2" class="align-self-start mr-3"
						alt="...">
					  <div class="media-body" style="margin-top: 3em;">
						<h1>ConnectOnCommute</h1>
						<h5>@ConnectOnCommute</h5>
						<h5>Harvard Innovation-Labs VIP Incubation Venture, Fall 2019</h5>
					  </div>
					</div>
					<div id="line" style='border-bottom:1px solid #ccc;'></div>
				  </div>
				  <div class="row">
					<div id="publicationText1" class="col-md-10 offset-md-1">
					  <p>2019 Harvard I-Lab VIP incubation venture 💡 ConnectOnCommute is solving the problem of loneliness and
						disconnection by facilitating interactions with strangers</p>
					  <div id="line" style='border-bottom:1px solid #ccc;'></div>
					</div>
		<!--Row -->
		<div class="row" style="margin-top:2em;">
			<div class="col-md-6 offset-md-3">
				<!--Figure out how to make this text the same font as the logo-->
				<h1>New to the movement?</h1>
				<h3>Create an account to become a 'Connector' today!</h3>
				<signup-component></signup-component>
				<button class="btn btn-link" (click)="clickLogin()">Already a member? Click here to login</button>
			</div>
		</div>
	</div>
</div>