<nav-bar></nav-bar>
<!--Bootstrap Container-->
<div class='profile-container' *ngIf="user$ | async as user">
  <div class="container" id="newUserContainer" style="margin-top:2em;">
    <!--Row that has the logo (black vector file)-->
    <div class="row" id="initialLogoRow">
      <div class="col-md-3">
        <img src="../../assets/Black.svg" id="initialLogo" width="200px;">
      </div>
      <div class="col-md-6" style="margin-top:2em;">
        <!--Insert Welcome message here-->
        <h1 class="welcome">Welcome Back {{user.firstName}} {{user.lastName}}!</h1>
        <!--Change Font to ConnectOnCommute Font-->
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <!--End First Bootstrap Container-->
  <!--Bootstrap Container inside dark Jumbotron, Dashboard-->
  <div class="jumbotron jumbotron-fluid text-white bg-dark mb-3" style="margin-top:1em;">
    <div class="container" id="topicContainer">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3 id="talk">Talk to me about...</h3>
          <h1 id="topic">{{user.question}}</h1>
          <button class="btn btn-info" (click)="clickChangeQuestion(user)">Change...</button>
        </div>
      </div>
    </div>
  </div>
  <connection-log></connection-log>
</div>
