<form>
  <div class="card">
    <div class="card-header">
      <h3>Sign In</h3>
      <div class="d-flex justify-content-end social_icon">
        <span><i class="fab fa-facebook-square"></i></span>
        <span><i class="fab fa-google-plus-square"></i></span>
        <span><i class="fab fa-twitter-square"></i></span>
      </div>
    </div>
    <div class="card-body">
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faUser" class="mr-1"></fa-icon>
          </span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" placeholder="Email/Username" name="username"
          [(ngModel)]="email">

      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon [icon]="faLock" class="mr-1"></fa-icon>
          </span>
        </div>
        <input [disabled]="disabled" type="password" class="form-control" placeholder="password" name="password"
          [(ngModel)]="password">
      </div>
      <!--
          <div class="row align-items-center remember">
            <input [disabled]="disabled" type="checkbox">Remember Me
          </div>
          -->
    </div>
    <mat-error>{{error}}</mat-error>
    <!--
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
        -->
  </div>
  <mat-dialog-actions>
    <button [disabled]="disabled" class="m-2 btn btn-secondary" mat-dialog-close>Close</button>
    <input [disabled]="disabled" class="m-2 btn btn-success" (click)="clickLogin();" type="submit" value="Login">
  </mat-dialog-actions>
</form>