<div class="">
  <table *ngIf="connections$ | async else nothing" id="connection-table" mat-table [dataSource]="connections$ | async"
    class="table table-striped table-dark w-100">

    <ng-container matColumnDef="timestamp">
      <th *matHeaderCellDef> Date </th>
      <td *matCellDef="let element"> {{getEntryAge(element.timestamp)}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef> Name </th>
      <td *matCellDef="let element"> {{element.target.firstName}} {{element.target.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef> Email </th>
      <td *matCellDef="let element"> {{element.target.email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <ng-template #nothing>
    <h4>You do not have any connections</h4>
  </ng-template>
</div>