<h3>People Near Me</h3>
<div class="alert alert-danger" *ngIf="error">{{error}}</div>
<div *ngIf="loading != true else loading">
	<ng-container *ngIf="!peopleNearMe else table">
		<div class="alert alert-primary">
			No people currently around you
		</div>
		<button class=" btn btn-primary" (click)="getNearMe()">Retry</button>
	</ng-container>
	<ng-template #table>
		<div class="jumbotron jumbotron-fluid w-75 mr-auto ml-auto p-4">

			<h1 class="display-6">Nudge Nudge!</h1>
			<p class="lead"><b>{{peopleNearMe.firstName}}</b> wants to connect, try asking them about
				<b>{{peopleNearMe.question}}</b>.</p>
			<div class="ml-auto mr-auto">
				<connect-button [target]="peopleNearMe" (onConnected)="pingApi()"></connect-button>
			</div>
		</div>
	</ng-template>

</div>
<ng-template #loading>
	<loading-container></loading-container>
</ng-template>