<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="http://downloadicons.net/sites/default/files/fish-in--fish-tank-icon-23812.png" alt="" />
      <h3>Welcome</h3>
      <p>somethignbgnfngfn</p>
    </div>
    <div class="col-md-9 register-right">
      <!-- 
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Hirer</a>
          </li>
        </ul>
      -->

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Aquarium Sign Up</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name *" name="firstName" [disabled]="disabled" [(ngModel)]="newUser.firstName"/>
                <input type="text" class="form-control" placeholder="Last Name *" name="lastName" [disabled]="disabled" [(ngModel)]="newUser.lastName"/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" value="" [disabled]="disabled" name="password" [(ngModel)]="newUser.password"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email *" [disabled]="disabled" name="email" [(ngModel)]="newUser.email"/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password *"  [disabled]="disabled" name="password2" [(ngModel)]="newUser.password2"/>
              </div>
              <mat-error>{{error}}</mat-error>
              <button type="submit" class="btn btn-primary" value="Register" [disabled]="disabled" (click)="clickSignup()">Sign Up</button>
            </div>
            <div>
              <input type="text" mat-input name="question" [(ngModel)]="newUser.question" placeholder="What to talk about?"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>